@font-face {
    font-family: MyFont;
    src: url(AbrilFatface-Regular.ttf);
}
.figure-container {
        display:inline-flex; /* Use flexbox for layout */
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 20px;
    }
.figure {
        text-align: center; /* Center-align content */
        margin: 10px; /* Add margin for spacing */
        padding-left: 5px;
    }
figcaption{
        padding-top: 38px;
        font-size: large;
        color: rgba(5,56,192,255);
        padding-bottom: 20px;
    }
.heading{
        color: rgba(5,56,192,255);
        font-size: x-large;
        text-align: center;
        width: 850px;
        font-weight: 500;
        font-family: MyFont;
        padding-top: 15px;
    }
h1{
        color: rgba(5,56,192,255);
        padding-left: 43px;
        margin-bottom: none;
        padding-bottom: none;
        font-family: 'Times New Roman', Times, serif;
    }
.menu{
        padding-top: 7px;
        padding-left: 42px;
        margin-bottom: 30px;
        font-size: x-small;
    }
a{
        padding-left: 5px;
        padding-right: 5px;
        font-family: 'Times New Roman', Times, serif;
    }
.homelink{
    color: rgba(45,87,203,255)";
}
body {
    margin: 0;
    padding: 0;
    width: 840px;
}
.container {
    width: 750px;
    height: 415px;
    margin-left: 45px;
    background-image: url('Cutlery.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 760px 750px;
    background-position: 35px -40px;
}
.transparent-box {
    background-color: rgba(255, 255, 255, 0);
    font-size: xxx-large;
    font-family: MyFont;
    color: rgba(5,56,192,255);
    font-weight: 400;
    padding-left: 35px;
    padding-top: 1px;
}
button{
    font-size: small;
    padding: 10px;
    border-radius: 0px;
    background-color:white;
    color: rgba(38,38,38,255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.floating-content {
    background-color: White;
    color:black;
    width: 100%;
    font-family: MyFont;
    font-weight: 100;
}