.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* App.css */

/* Style for active tab within the specific page container */
#NavbarSingle.btn.active {
  background-color: black !important;
  color: white !important;
}

/* Style for inactive tabs within the specific page container */
#NavbarSingle.btn:not(.active) {
  background-color: white !important;
  color: black !important;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.overlay-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background to create a blur effect */
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: relative;
  background: #fff;
  border: 2px solid #333; /* Border around the overlay window */
  padding: 20px;
  z-index: 1; /* Place the overlay above other content */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.overlaybutton {
  opacity: 1; /* Default state */
  transition: opacity 0.3s;
  background: none;
  border: none;

  /* Hover state */
  &:hover {
    opacity: 0.8; /* Change the opacity value */
  }
}
